<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div>
        <form action="/signup" method="post">
            <div class="userInput">
                <label for="username">Username : </label>
                <input type="text" name="username">
            </div>
            <div class="passInput">
                <label for="password">password : </label>
                <input type="text" name="password">
            </div>
            <div id = "submit">
                <button type="submit" class = "submitbutton">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>